
*{
    --clrBrown: rgb(66, 53, 15);
    --clrOffWhite: antiquewhite;
}

body{
    box-sizing: border-box;
    background-color: var(--clrOffWhite);
    color: var(--clrBrown);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /* font-size: 1.1em; */
    
}

button{
    background-image: url('../img/wood-btn.jpg') ;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    /* min-width: 60px; */
    color:var(--clrOffWhite);
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

/* .sort-by{
    width: 120px;
    margin-top: 5px;
    background-image: url('../img/wood-btn.jpg') ;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
} */


.grouping-area,.filter-area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    flex-basis: 160px;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    height: 15vh;
    width: 28vw;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url('../img/canvas.jpg');
    background-size: cover;
    outline: 1px solid black;
    width: 120px;
    height: 170px;
    border-radius: 10px;
    margin: 15px;
    color: var(--clrBrown);
    border:1px solid var(--clrBrown);
    /* opacity: 0.8; */
}

.card>*{
    margin: 10px auto;
}



.filter-area p{
    margin: 7px auto 0px;
}

.grouping-area h4,.filter-area h4{
    position:absolute;
    top: -33px;
    background-color: var(--clrOffWhite);
}



.grouping{
    text-align: start;
}

.add-new-book{
    position: relative;
    bottom: 55px;
    right: 40px;
    padding: 5px;
    width: 20vw;
    margin-top: 20px;
    margin-right:43vw ;
    width: 120px;
}

.flex-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 78vw;
    margin: auto;
}

.books-container{
    border-collapse: collapse;
    border: 1px black solid;
    margin: 10px auto 8px;
    width: 78vw;

}

td{
    border: 1px black solid;
    padding: 5px;
    /* min-width: 6vw; */
}
img{
    width: 15px;
    /* margin-bottom: px; */
}
th img{
    margin-right: 5px;
    width: 13px;
    cursor: pointer;
    /* margin-bottom: px; */
}
th button{
    width: 28px;
    height: 20px;
}
td button,.card button{
    margin-right: 8px;
    width: 28px;
    height: 28px;
}

tr td:nth-child(2){
    text-align: left;
    width: 20%;
    min-width: 95px;
}

tr td:nth-child(4),td:nth-child(5),th:nth-child(4){
    border-style : hidden;
    border-left: 1px solid black;
    width: 8%;
}
tr td:nth-child(2),td:nth-child(3){
    border: 1px black solid;
    font-size: 0.95em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.books-table{
    border-collapse: collapse;
    border: 1px black solid;
}

.read-modal,.creation-modal{
    display: none;
    position: fixed;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    /* height: 50vh; */
    background-color: var(--clrBrown);
    border-radius: 5%;
    padding: 10px;
    color: var(--clrOffWhite);
    border: 2px solid black;
}
.read-modal p{
    text-align: justify;
    
}

.read-modal [name="rate"]{
    margin-top: 10px;
}


.open{
    display: block;
}

.hide{
    display: none;
}


.card-sorting>*{
    margin: 0 10px;
}
.card-sorting>img{
    cursor: pointer;
}

.pagination button{
    margin:8px 2px;
    width: 22px;
    /* box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 1) */
}
.page-mark{
    position: relative;
    bottom: 10px;
}
